@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Room
@{
    ViewData["Title"] = Localizer["Sửa Phòng"];
}

<h2>@Localizer["EditRoomTitle"]</h2>

<form asp-action="EditRoom">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PricePerNight" class="control-label"></label>
        <input asp-for="PricePerNight" class="form-control" />
        <span asp-validation-for="PricePerNight" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="IsAvailable" /> @Html.DisplayNameFor(model => model.IsAvailable)
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="@Localizer["Save"]" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Rooms">@Localizer["BackToRoomsList"]</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

