html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card {
    border-radius: 15px;
}

.card-body {
    padding: 2rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.3rem;
}

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

.text-danger {
    font-size: 0.875rem;
}

h2 {
    color: #333;
    font-weight: 600;
}

label {
    font-weight: 500;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0.25rem;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #007bff;
    border-color: #007bff;
}



.language-icon {
    font-size: 24px;
    color: #333;
    transition: transform 0.3s ease;
}

.language-toggle:hover .language-icon {
    transform: scale(1.2);
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* Để dropdown nằm sát menu */
}
